<!DOCTYPE html>
<html lang="en">
<body>
    <%- include('../partials/head.ejs') %> 
<%- include('../partials/header.ejs') %> 

<h1 class="index-h1">Listado de productos</h1>

<a href="./products/create"><button>Crear producto</button></a>

<!-- listado de productos, se agrega todo lo que viene por JSON -->

<% productsList.forEach(products => { %>
<div class="container">
    <div class="cart">
      <div class="products">
        <div class="product">
          <img src="/images/products/<%= products.image %>" class="carrito-img">
          <div class="product-info">
            <h2 class="product-name"> <a href="/products/<%= products.id %>"><%= products.name %></a></h2>
            <p class="product-remove">
              <!-- <i class="fa fa-trash" aria-hidden="true"></i> -->
                <a href="/products/edit/<%= products.id %>">Editar</a>
                <span class="remove"></span>
            </p>
            <p class="product-edit">
                <!-- <i class="fa fa-trash" aria-hidden="true"></i> -->
                <a id="delete-product" data-id="<%= products.id %>">Eliminar</a>
                <span class="remove"></span>
            </p>
          </div>
        </div>
        <% }) %>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="/js/swissAlert.js"></script>
</body>
</html>