<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs')%>
    <%- include('../partials/header.ejs')%>

<body>
    <section class="seccion-perfil-usuario">
            <div class="perfil-usuario-portada">
                <div class="perfil-usuario-avatar">
                    <img src="/images/users/<%= user.image %>" alt="img-avatar">
                    <form action="" method="post">
                        <!-- <button type="button" class="boton-avatar">
                            <i class="far fa-image"><input type="file"> </i>
                        </button> -->
                    </form>
                </div>
            </div>

        <div class="perfil-usuario-body">

            <div class="perfil-usuario-bio">
                <h3 class="titulo">
                    ¡Hola <%= user.name %> <%= user.lastname %>!
                </h3>
            </div>

            <div class="perfil-usuario-footer">

                <ul class="lista-datos">
                    <li>
                        <i class="icono fas fa-map-signs"></i>
                        <label for="name-lastname">Nombre: <%= user.name %> <%= user.lastname %></label> 
                    </li>
                    <li>
                        <i class="icono fas fa-phone-alt"></i>
                        <label for="">Nombre de usuario: <%= user.username %></label>
                    </li>
                    <li>
                        <i class="icono fas fa-briefcase"></i> 
                        <label for="">Teléfono: <%= user.phone %></label>
                    </li>
                    <li>
                        <i class="icono fas fa-building"></i> 
                        <label for="">Email: <%= user.email %></label>
                        <div class="container-profile">
                            <a href="/user/edit/<%= user.id %>"> <button class="btn-logout" type="submit">Editar datos</button></a>
                            <form action="/logout" method="post">
                                <button class="btn-logout" type="submit">Cerrar sesión</button>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</body>

    <!-- <a href="#" class="btn"> Click Me</a> -->
    <%- include('../partials/footer.ejs') %> 

</html>